<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=localhost;Integrated Security=false;user=sa;password=admin123;Connect Timeout=90;Encrypt=False;TrustServerCertificate=False;Initial Catalog=BackendTest" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PostUri" value="api/posts"/>
    <add key="MediaType" value="application/json"/>
    <add key="BaseAdress" value="http://localhost:24481/"/>
  </appSettings>
</configuration>